*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: hsl(0, 0%, 100%);
}

body{
    background-color: hsl(0, 100%, 74%);
    background-image: url('../img/bg-intro-desktop.png');
    font-size: 16px;
    /* overflow: hidden; */
}

.main-container{ 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;  
    height: auto;
    width: 70%; 
    margin:50px auto;
}
.hero-box-left{  
    width: 100%;
    margin-top: -50px;
}
.hero-box-left h1{     
    line-height: 40px;
    font-weight: 700;
    width: 90%;
    margin: 0px 0px 20px 0px;
}
.hero-box-left p{     
    width:80%;
    line-height: 25px;
}

.hero-box-right{   
   width: 100%;
   text-align: center;
}
.hbr-top-container {
    margin:0px 0px 20px 0px;
    background:hsl(248, 32%, 49%);
    color: hsl(246, 25%, 77%);
    padding:15px;
    border-radius:10px;
    box-shadow: 0px 5px 0px 0px hsla(240, 4%, 26%, 0.418);
    
}
.signup-container{
    background:white;
    margin:20px 0px 50px 0px;
    border-radius:10px;
    padding:30px;
}
.input-box{
    margin:0px 0px 10px 0px;
}
.input-box input{
    width: 100%;
    height:40px;
    color:hsl(246, 25%, 77%);
    font-weight: 700;
    padding:0px 10px 0px 20px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
} 
.input-box button{
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    border:none;
    padding:15px;
    border-radius:5px;
    font-weight: 700;
    cursor: pointer;
}

.error-state{
    background-image: url("../img/icon-error.svg");
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: right 5% top 50%;
    border: 1px solid hsl(0, 100%, 74%);
}
.errorMsg{
    font-size: 10px;
    float: right;
    margin-bottom: 10px;
    display: none;
}
.error-msg{
    display: block;
    color:hsl(0, 100%, 74%);
    
}


.terms-and-services small{
    color:hsl(246, 25%, 77%);
}
.terms-and-services-link{
    color:hsl(0, 100%, 74%);
    font-weight: 700;
}






@media screen and (max-width: 375px) {
    .main-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;  
        padding: 20px;
        margin:40px 0px 0px 0px;
    }
    .hero-box-left{  
        text-align: center; 
        margin: 30px 0px 60px 0px;
        line-height: 25px;
    }
    .hero-box-left h1{   
        width: 100%;
    }
    .hero-box-left p{   
        width: 100%;
    }
    .hero-box-right{   
        text-align: center;
        margin: 30px 0px 60px 0px;
    }
    .hbr-top-container {
        margin:0px 0px 20px 0px;
        background:hsl(248, 32%, 49%);
        color: hsl(246, 25%, 77%); 
        padding:20px;
        border-radius:10px;
        box-shadow: 0px 5px 0px 0px hsla(240, 4%, 26%, 0.418);
    }
    .signup-container{
        background:white;
        margin:30px 0px 50px 0px;
        border-radius:10px;
        padding:30px;
    }
    .input-box{
        margin:0px 0px 20px 0px;
    }
    .input-box input{
        width: 100%;
        height:60px;
        color:hsl(246, 25%, 77%);
        font-weight: 700;
        padding:0px 0px 0px 20px;
        border-radius: 5px;
        border: 1px solid hsl(246, 25%, 77%);
    }
    .input-box button{
        background-color: hsl(154, 59%, 51%);
        width: 100%;
        border:none;
        padding:15px;
        border-radius:5px;
        font-weight: 700;
    }
    .terms-and-services-container{
        display: flex; 
    }
    .terms-and-services{
        color:hsl(246, 25%, 77%);
        line-height: 20px;
        font-weight: 400; 
    }
    .terms-and-services small{
        color:hsl(246, 25%, 77%); 
    }
    .terms-and-services-link{
        color:hsl(0, 100%, 74%);
        font-weight: 700;
    }
}
 
  